body {
    background: lightslategrey;
    margin: 0;
}

.GK{
    text-align: center;
    font-family: "Segoe UI Semibold";
}

.navbar,a {
    text-align: center;
    color: white;
    background: forestgreen;
}
